<form>
    <h1>Create a new game</h1>
    <div class="form-group">
        <label for="userName">Your name (what team members will see)</label>
        <input id="userName" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="gameName">Game name</label>
        <input id="gameName" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="gameDescription">Game description (optional)</label>
        <input id="gameDescription" type="text" class="form-control">
    </div>
    <button class="btn btn-primary">Create game</button>
    <button class="btn btn-cancel">Cancel</button>
</form>